In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import calendar
import datetime
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('/Users/volhameliashchenia/School/Jupyter/module_1/project_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
715,tt0858479,7000000,10569964,Smart People,Dennis Quaid|Sarah Jessica Parker|Ellen Page|T...,Noam Murro,Sometimes the smartest people have the most to...,Professor Lawrence Wetherhold (Dennis Quaid) m...,95,Comedy|Drama|Romance,Miramax Films|Sherazade Film Development|Groun...,4/11/2008,5.5,2008
1382,tt0369441,100000000,202026112,Fun with Dick and Jane,Jim Carrey|TÃ©a Leoni|Alec Baldwin|Richard Jen...,Dean Parisot,Giving big businesses a run for their money!,"After losing their high-paying corporate jobs,...",90,Comedy,Imagine Entertainment|Columbia Pictures Corpor...,12/21/2005,5.9,2005
497,tt0241527,125000000,976475550,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Chris Columbus,Let the Magic Begin.,Harry Potter has lived under the stairs at his...,152,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films,11/16/2001,7.2,2001
629,tt0452608,45000000,73762516,Death Race,Jason Statham|Joan Allen|Ian McShane|Tyrese Gi...,Paul W.S. Anderson,Get ready for a killer race.,"Terminal Island, New York: 2020. Overcrowding ...",105,Action|Thriller|Science Fiction,Universal Pictures|Cruise/Wagner Productions|I...,8/22/2008,5.9,2008
615,tt0373051,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,Eric Brevig,Same Planet. Different World.,On a quest to find out what happened to his mi...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/2008,5.7,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
# Создадим словарь для ответов.
answers = {}


# Создадим новый столбец с прибылью.
data['profit'] = data['revenue'] - data['budget']


# Создадим функцию возвращающую словарь счетчик.
def genres(func):
    dic = {}
    for i in func:
        if i in dic:
            dic[i] += 1
        else:
            dic[i] = 1
    return dic


# Преобразуем столбец в формат даты.
data['release_date'] = pd.to_datetime(data['release_date'])


# Создадим функцию возвращающую месяц выпуска фильма.
def full_month():
    l = len(data)
    a=[]
    for i in range(l):
        a.append(data['release_date'].iloc[i].strftime("%B"))
    return a


# Создадим новый столбец с месяцем выпуска фильма.
data['month']=full_month()


display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,June
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,May
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,March
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,December
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,July
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,2000-10-27,6.4,2000,-8444012,October
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,June
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091,February
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502,July

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
min_budget = data[data.budget==data.budget.max()][['imdb_id', 'original_title']]
print(min_budget)

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [8]:
max_runtime = data[data.runtime==data.runtime.max()][['imdb_id', 'original_title']]
print(max_runtime)

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [10]:
min_runtime = data[data.runtime==data.runtime.min()][['imdb_id', 'original_title']]
print(min_runtime)

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

In [12]:
mean_runtime = data.runtime.mean()
print(mean_runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'

In [14]:
median_runtime = data.runtime.median()
print(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar (tt0499549)'

In [16]:
max_profit = data[data.profit==data.profit.max()][['imdb_id', 'original_title']]
print(max_profit)

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = "The Lone Ranger (tt1210819)"

In [18]:
min_profit = data[data.profit==data.profit.min()][['imdb_id', 'original_title']]
print(min_profit)

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
good_revenue = data[data.revenue > data.budget][['imdb_id', 'original_title']]
print(len(good_revenue))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [22]:
best_movie_2008 = data[data.revenue == data[data.release_year == 2008].revenue.max()][['imdb_id', 'original_title']]
print(best_movie_2008)

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [24]:
worst_movie = data[data.profit == data[(data.release_year >= 2012) & 
                                       (data.release_year <= 2014)]['profit'].min()][['imdb_id', 'original_title']]
print(worst_movie)

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [26]:
# Преобразуем все жанры в список.
genres_series = data['genres']
genres_list = '|'.join(genres_series.tolist())
new_genres_list = genres_list.split('|')

# Вызываем функцию.
genres_dict = genres(new_genres_list)

# Создаем серию из полученого словаря.
popular_genres = pd.Series(genres_dict).sort_values(ascending = False)
print(popular_genres.iloc[[0, 1]])

Drama     782
Comedy    683
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'

In [28]:
good_profit = data[data.profit>0][['genres', 'profit']]

# Преобразуем все жанры в список.
genres_series_1 = good_profit['genres']
genres_list_1 = '|'.join(genres_series_1.tolist())
new_genres_list_1 = genres_list_1.split('|')

# Вызываем функцию возвращающую словарь с жанрами фильмов.
genres_dict_1 = genres(new_genres_list_1)

# Создаем серию из полученого словаря.
popular_genres_1 = pd.Series(genres_dict_1).sort_values(ascending = False)
print(popular_genres_1.iloc[[0, 1]])

Drama     560
Comedy    551
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'

In [30]:
# Создаем список режиссеров.
director_list_1 = '|'.join(data['director'].tolist())
new_director_list_1 = director_list_1.split('|')

# Создаем словарь с суммой кассовых сборов каждого режиссера.
dict_director = {x: data[data.director.str.contains(x)].revenue.sum() for x in new_director_list_1}

# Создаем серию из полученого словаря.
new = pd.Series(dict_director).sort_values(ascending = False)
print(new.index[0])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = 'Robert Rodriguez'

In [32]:
# Отбираем фильмы в стиле Action в новый DataFrame.
director_action = data[data.genres.str.match('Action', na=False)]

# Создаем список режиссеров.
director_list_2 = '|'.join(director_action['director'].tolist())
new_director_list_2 = director_list_2.split('|')

# Создаем словарь с количеством снятых фильмов каждого режиссера.
dict_director_2 = {x: director_action[director_action.director.str.contains(x)]['director'].count() for x in new_director_list_2}

# Создаем серию из полученого словаря.
new = pd.Series(dict_director_2).sort_values(ascending = False)
print(new.index[0])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 'Chris Hemsworth'

In [34]:
# Отбираем фильмы снятые в 2012 году в новый DataFrame.
movie_2012 = data[data.release_year == 2012]

# Создаем список актеров.
cast_list = '|'.join(data['cast'].tolist())
new_cast_list = cast_list.split('|')

# Создаем словарь с суммой кассовых сборов каждого актера.
dict_cast = {x: movie_2012[movie_2012.cast.str.contains(x)].revenue.sum() for x in new_cast_list}

# Создаем серию из полученого словаря.
new = pd.Series(dict_cast).sort_values(ascending = False)
print(new.index[0])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = 'Matt Damon'

In [36]:
# Отбираем высокобюджетные фильмы в новый DataFrame.
high_budget = data[(data['budget']>data['budget'].mean())]

# Создаем список актеров.
cast_list_1 = '|'.join(high_budget['cast'].tolist())
new_cast_list_1 = cast_list_1.split('|')

# Создаем словарь с количеством высокобюджетных фильмов каждого актера.
dict_cast_1 = {x: high_budget[high_budget.cast.str.contains(x)].cast.count() for x in new_cast_list}

# Создаем серию из полученого словаря.
new = pd.Series(dict_cast_1).sort_values(ascending = False)
print(new.index[0])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = 'Action'

In [38]:
# Отбираем фильмы с Nicolas Cage в новый DataFrame.
movie_Cage = data[data.cast.str.contains('Cage', na = False)]

# Создаем список жанров.
genres_Cage = '|'.join(movie_Cage['genres'].tolist())
genres_Cage_list = genres_Cage.split('|')

# Создаем серию из полученого списка.
new = pd.Series(genres_Cage_list).value_counts()
print(new.index[0])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [40]:
# Отбираем фильмы снятые Paramount Pictures в новый DataFrame.
PP = data[data.production_companies.str.contains('Paramount Pictures', na = False)]

# Находим минимальный доход.
profit_PP = PP['profit'].min()
print(profit_PP)

# Находим самый убыточный фильм.
new = PP.query('profit == -64831034')[['original_title']]
print(new)

-64831034
           original_title
925  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = '2015'

In [42]:
year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
display(year.index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
answers['20'] = '2014'

In [44]:
# Отбираем фильмы снятые Warner Bros в новый DataFrame.
WB = data[data.production_companies.str.contains('Warner Bros', na=False)]

# Находим самый прибыльный год.
good_year = WB.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
display(good_year.index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
answers['21'] = 'September'

In [46]:
sum_movie = data.groupby(['month'])['original_title'].count().sort_values(ascending = False)
print(sum_movie.index[0])

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
answers['22'] = '450'

In [48]:
summer_movie = data[(data['month'] == 'June') | (data['month'] == 'July') |
                    (data['month'] == 'August')].month.count()
print(summer_movie)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = 'Peter Jackson'

In [50]:
# Отбираем фильмы снятые зимой в новый DataFrame.
winter_movie = data[(data['month'] == 'December') | (data['month'] == 'January') |
                    (data['month'] == 'February')]

# Создаем список режиссеров.
director_list_3 = '|'.join(winter_movie['director'].tolist())
new_director_list_3 = director_list_3.split('|')

# Создаем словарь с количеством фильмов снятых каждым режиссером.
dict_director_3 = {x: winter_movie[winter_movie.director.str.contains(x)]['original_title'].count() 
                   for x in new_director_list_3}

# Создаем серию из полученого словаря.
new = pd.Series(dict_director_3).sort_values(ascending = False)
print(new.index[0])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
answers['24'] = 'Four By Two Productions'

In [52]:
# Помещаем название студии в отдельную строку
data['production_companies'] = data.production_companies.str.split('|')
new_data=data.explode('production_companies')

# Создаем новый столбец с длинной наздания фильмов.
new_data['title_len'] = new_data['original_title'].str.len()

# Отбираем струдии дающие самые длинные названия фильмам.
long_title = new_data.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False) 
print(long_title.index[0])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
answers['25'] = 'Midnight Picture Show'

In [54]:
# Помещаем название студии в отдельную строку.
data['production_conpanies'] = data.production_companies.str.split('|')
new_data_1 = data.explode('production_companies')

# Создаем новый столбец с длинной описания фильмов.
new_data_1['overview'] = data.overview.str.split()
new_data_1['overview_len'] = new_data_1['overview'].str.len()

# Отбираем струдии дающие в среднем самые длинные описания к фильмам.
long_overview = new_data_1.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending=False)
print(long_overview.index[0])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [55]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [56]:
# Группируем фильны по рейтингу.
one_per = data.groupby(['vote_average'])['original_title'].value_counts().sort_index(ascending = False)

# Выводим фильмы входящие в 1% лучших по рейтингу.
a = len(one_per)//100
print(one_per.head(a))

vote_average  original_title
8.1           The Dark Knight                                  1
8.0           The Imitation Game                               1
              Room                                             1
              Interstellar                                     1
              Inside Out                                       1
7.9           The Wolf of Wall Street                          1
              The Pianist                                      1
              The Lord of the Rings: The Return of the King    1
              The Grand Budapest Hotel                         1
              Memento                                          1
              Inception                                        1
              Guardians of the Galaxy                          1
              Gone Girl                                        1
              12 Years a Slave                                 1
7.8           There Will Be Blood                              1
              The Theory of Everything                         1
              The Prestige                                     1
              The Lord of the Rings: The Two Towers            1
Name: original_title, dtype: int64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [57]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [58]:
pairs = Counter() # создаем счетчик
for i in range(0, len(data)): # идем по каждой записи
    artists = data.cast[i].split('|') # получаем список актеров
    for j in list(combinations(artists, 2)): # получчаем список паросочетаний
        if j in pairs:
            pairs[j] +=1
        else:
            pairs[j] = 1
pairs.most_common(5) # выводим список самых популярных значений

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [59]:
# Ответы к каждому вопросу.
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [60]:
# Убеждаемся, что ни чего не пропустили)
len(answers)

27